<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="appealTimeExpired" th:remove="tag">
    <div class="panel-body" style="background: white;">
        <div class="table-responsive">
            <table id="appealsListForNudge" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center">ক্রমিক</th>
                    <th class="text-center">ট্র্যাকিং নম্বর</th>
                    <th class="text-center">আপিলের বিষয়</th>
                    <th class="text-center">আপিল সংশ্লিষ্ট সেবা</th>
                    <th class="text-center">ধরন</th>
                    <th class="text-center">আপিল নিষ্পত্তির তারিখ</th>
                    <th class="text-center">আপিল অনিষ্পন্ন থাকার কারণ</th>
                    <th class="text-center">তাগিদ প্রদান করুন</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" th:fragment="appealTimeExpiredScript">
    document.addEventListener("DOMContentLoaded", function () {
        const table = document.getElementById("appealsListForNudge");

        table.addEventListener("click", function (event) {
            const targetRow = event.target.closest("tr");

            if (targetRow && targetRow.parentElement.tagName.toLowerCase() === "tbody") {
                const cells = targetRow.cells;
                const grievanceId = cells[0].innerText.trim();
                window.location.href = `/viewAppealGrievances.do?id=${grievanceId}`;
            }
        });
    });
</script>