<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="appealRegister" th:remove="tag">
    <div class="panel-body" style="background: white;">
        <div class="font-lg font-purple text-center" th:text="#{register.view.title.appeal}"></div>

        <!-- Right side elements -->
        <div class="col-md-12 d-flex align-items-center">
            <div class="d-flex align-items-center ml-auto">
                <i class="icon-docs" style="margin-right: 5px"></i>
                <span class="tabname tabname-hide-on-mobile mr-2">প্রতি পৃষ্ঠায় দেখুন</span>
                <select id="appealRegisterPageSizeSelect" class="form-control" style="font-size: 16px; width: 60px; height: 35px;" onchange="changeAppealRegisterPageSize()">
                    <option value="10">১০</option>
                    <option value="20">২০</option>
                    <option value="30">৩০</option>
                    <option value="50">৫০</option>
                    <option value="100">১০০</option>
                </select>
            </div>
        </div>

        <div id="appealRegisterTable">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr role="row" class="heading">
                    <th rowspan="2"  class="text-center vertical-middle" style="vertical-align:  middle;"><span class="title" th:text="#{serial}"></span></th>
                    <th rowspan="2"  class="text-center vertical-middle" style="vertical-align:  middle;"><span class="title" th:text="#{tracking.num}"></span></th>
                    <th rowspan="2"  class="text-center vertical-middle" style="vertical-align: middle;"><span class="title" th:text="#{register.view.table.date.appeal}"></span></th>
                    <th rowspan="2"  class="text-center vertical-middle" style="vertical-align: middle;"><span class="title" th:text="#{register.name.appeal}"></span>,<br><span class="title" th:text="#{register.mobile.email}"></span></th>
                    <th class="text-center" ><span class="title" th:text="#{type.of.appellant}"></span></th>
                    <th rowspan="2" class="text-center vertical-middle" style="vertical-align: middle;"><span class="title" th:text="#{register.service}"></span></th>
                    <th rowspan="2" class="text-center vertical-middle" style="vertical-align: middle;"><span class="title" th:text="#{register.grievance.closed.date}"></span></th>
                    <th rowspan="2" class="text-center vertical-middle" style="vertical-align: middle;"><span class="title" th:text="#{register.view.table.subject.appeal}"></span></th>
                    <th rowspan="2" class="text-center vertical-middle" style="vertical-align: middle;"><span class="title" th:text="#{register.appeal.closed.date}"></span></th>
                    <th rowspan="2" class="text-center vertical-middle" style="vertical-align: middle;"><span class="title" th:text="#{resolve.type}"></span></th>
                </tr>
                <tr role="row" class="heading">
                    <th class="text-center">(<span class="title" th:text="#{complainant.or.staff}"></span>)</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <div class="dataTables_info" id="appealRegisterTable_info" role="status" aria-live="polite" th:text="#{info.template}"></div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="dataTables_paginate paging_bootstrap_extended" id="tblListView_paginate">
                        <div class="pagination-panel pull-right">
                            <span th:text="#{page}"></span>
                            <span class="pagination-panel-total" th:text="#{number.zero}" ></span>
                            <span th:text="#{of}"></span>
                            <a href="javascript:;" class="btn btn-sm default prev disabled" style="cursor: pointer;">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <input class="pagination-panel-input input-sm input-inline input-mini" maxlength="5" style="text-align:center; margin: 0 5px;" name="appealCurrentPage" value="০" type="text">
                            <a href="javascript:;" class="btn btn-sm default next disabled" style="cursor: pointer;">
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <span th:text="#{page.shown}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:fragment="appealRegisterScript">

    var appealCurrentPage = 1, appealMaxPage = 1;

    function getAppealResolveTypeText(status) {
        var text = "-";
        switch(status) {
            case "APPEAL_CLOSED_ACCUSATION_INCORRECT":
                text = "আপিলের সত্যতা প্রমানিত";
                break;
            case "APPEAL_CLOSED_ACCUSATION_PROVED":
                text = "আপিলের সত্যতা পাওয়া যায়নি";
                break;
            case "APPEAL_CLOSED_INSTRUCTION_EXECUTED":
                text = "আপিল নিষ্পত্তি, সেবা প্রদানের নির্দেশনা প্রতিপালিত";
                break;
            case "APPEAL_CLOSED_ANSWER_OK":
                text = "আপিল নিষ্পত্তি, উত্তর সন্তোষজনক";
                break;
            case "APPEAL_CLOSED_SERVICE_GIVEN":
                text = "আপিল নিষ্পত্তি, সেবা প্রদান করা হয়েছে";
                break;
            case "APPEAL_CLOSED_OTHERS":
                text = "আপিল নিষ্পত্তি (অন্যান্য)";
                break;
            default:
                text = "এখনো নিষ্পত্তি হয়নি";
                break;
        }
        return text;
    }

    function loadAppealRegister(page) {
        blockUI();
        $("#appealRegisterTable [name='appealCurrentPage']").val(languageCode == 'en' ? ("" + (page)) : ("" + (page)).toBanglaNumber());
        $.ajax({
            url: "/api/dashboard/offices/" + $("[name='officeId']").val() + "/appeal-register",
            type: "get",
            data: {
                "page": (page - 1),
                "size": itemPerPage
            },
            dataType: "json",
            success: function(response) {
                if (response == 0 || response == "" || response.content.length == 0) {
                    $("#appealRegisterTable tbody tr").css("cursor","default");
                    $("#appealRegisterTable .pagination-panel-total").html(languageCode == "en" ? "0" : "0".toBanglaNumber());
                    $("#appealRegisterTable [name='appealCurrentPage']").val(languageCode == "en" ? "0" : "0".toBanglaNumber());
                    $("#appealRegisterTable").find(".prev, .next").addClass("disabled");
                } else {
                    var totalPages = response.totalPages;
                    var totalElements = response.totalElements;
                    var dataSize = response.size;
                    var numberOfElements = response.numberOfElements;
                    var number = response.number;
                    var sort = response.sort;
                    var isFirst = response.isFirst;
                    var isLast = response.isLast;

                    $("#appealRegisterTable .pagination-panel-total").html(languageCode == "en" ? ("" + (totalPages)) : ("" + (totalPages)).toBanglaNumber());
                    appealMaxPage = totalPages;
                    if (appealMaxPage == 1) {
                        $("#appealRegisterTable .prev, .next").addClass("disabled");
                    }
                    if (appealCurrentPage == 1){
                        $("#appealRegisterTable .prev").addClass("disabled");
                    }
                    if (appealMaxPage > 1 && appealMaxPage!=appealCurrentPage){
                        $("#appealRegisterTable .next").removeClass("disabled");
                    }
                    var listViewInfoBng = ("" + totalElements).toBanglaNumber() + " টি অভিযোগ এর মধ্যে " + ("" + (number * dataSize + 1)).toBanglaNumber() + "-" + ("" + (number * dataSize + numberOfElements)).toBanglaNumber() + " এর  তথ্য দেখানো হচ্ছে";
                    var listViewInfoEng = ("" + totalElements) + " Items total and  " + ("" + (number * dataSize + 1)) + "-" + ("" + (number * dataSize + numberOfElements)) + " is shown";
                    $("#appealRegisterTable_info").html( languageCode == "en" ? listViewInfoEng : listViewInfoBng);

                    $('#appealRegisterTable table').dataTable().fnClearTable();
                    $('#appealRegisterTable table').dataTable().fnAddData(response.content);
                    $('#appealRegisterTable').find("[data-toggle='tooltip']").tooltip();
                }
            },
            complete: function () {
                unblockUI();
            }
        });
    }

    function loadAppealRegister(page, size) {
        blockUI();
        appealCurrentPage = page;

        // Set the current page value in the input field
        $("#appealRegisterTable [name='appealCurrentPage']").val(languageCode == 'en' ? ("" + (page)) : ("" + (page)).toBanglaNumber());

        // Default page size if not provided
        const pageSize = size ? size : itemPerPage; // Use provided size or default to `itemPerPage`
        itemPerPage = pageSize;  // Update the global itemPerPage value

        // Update the page size dropdown to reflect the current page size
        $("#appealRegisterPageSizeSelect").val(pageSize);

        $.ajax({
            url: "/api/dashboard/offices/" + $("[name='officeId']").val() + "/appeal-register",
            type: "get",
            data: {
                "page": (page - 1), // Zero-based index for backend pagination
                "size": pageSize     // Pass the size to backend
            },
            dataType: "json",
            success: function(response) {
                if (response == 0 || response == "" || response.content.length == 0) {
                    // If no data is found
                    $("#appealRegisterTable tbody tr").css("cursor", "default");
                    $("#appealRegisterTable .pagination-panel-total").html(languageCode == "en" ? "0" : "0".toBanglaNumber());
                    $("#appealRegisterTable [name='appealCurrentPage']").val(languageCode == "en" ? "0" : "0".toBanglaNumber());
                    $("#appealRegisterTable").find(".prev, .next").addClass("disabled");
                } else {
                    // Handling response with data
                    var totalPages = response.totalPages;
                    appealMaxPage = totalPages;

                    // Update total pages in UI
                    $("#appealRegisterTable .pagination-panel-total").html(languageCode == "en" ? ("" + (totalPages)) : ("" + (totalPages)).toBanglaNumber());

                    // Enable/disable pagination buttons based on page number
                    if (appealCurrentPage === 1) {
                        $("#appealRegisterTable .prev").addClass("disabled");
                    } else {
                        $("#appealRegisterTable .prev").removeClass("disabled");
                    }

                    if (appealCurrentPage === appealMaxPage) {
                        $("#appealRegisterTable .next").addClass("disabled");
                    } else {
                        $("#appealRegisterTable .next").removeClass("disabled");
                    }

                    // Update table data and UI elements
                    var listViewInfoBng = ("" + response.totalElements).toBanglaNumber() + " টি অভিযোগ এর মধ্যে " + ("" + ((page - 1) * pageSize + 1)).toBanglaNumber() + "-" + ("" + ((page - 1) * pageSize + response.numberOfElements)).toBanglaNumber() + " এর তথ্য দেখানো হচ্ছে";
                    var listViewInfoEng = ("" + response.totalElements) + " Items total and " + ("" + ((page - 1) * pageSize + 1)) + "-" + ("" + ((page - 1) * pageSize + response.numberOfElements)) + " is shown";

                    $("#appealRegisterTable_info").html(languageCode == "en" ? listViewInfoEng : listViewInfoBng);

                    $('#appealRegisterTable table').dataTable().fnClearTable();
                    $('#appealRegisterTable table').dataTable().fnAddData(response.content);
                    $('#appealRegisterTable').find("[data-toggle='tooltip']").tooltip();
                }
            },
            complete: function () {
                unblockUI();
                $("#appealRegisterTable tr").css('cursor', 'pointer');

                // Clear the query parameters in the URL after loading the page
                var newUrl = window.location.origin + window.location.pathname;
                window.history.replaceState({}, document.title, newUrl);
            }
        });
    }

    function changeAppealRegisterPageSize() {
        // Get the selected page size
        var appealRegisterSelectedPageSize = $("#appealRegisterPageSizeSelect").val();
        itemPerPage = parseInt(appealRegisterSelectedPageSize, 10);  // Update the global itemPerPage value

        // Reload the table with the new page size, resetting to page 1
        appealCurrentPage = 1;
        loadAppealRegister(appealCurrentPage, itemPerPage);
    }

    function initAppealRegisterTable() {
        var rowTitle = (languageCode == "en") ? "Click to view details" : "বিস্তারিত দেখতে ক্লিক করুন";
        var table1 = $('#appealRegisterTable table');
        var emptyTxt = (languageCode == 'en' ? "Sorry. No appeals found" : "দুঃখিত, কোনো তথ্য পাওয়া যায়নি ");
        table1.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "<div class='text-center'>" + emptyTxt + "</div>",
                "info": "Showing _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "Show _MENU_",
                "search": "সার্চ:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "bSort": false,
            "bPaginate": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            columns: [{
                data: "id",
                render: function (data, type, row, meta) {
                    var serialNumber = (((appealCurrentPage - 1) * itemPerPage) + meta.row + 1);
                    return "<div class='text-center'>" + ((languageCode == "en") ? serialNumber : ("" + serialNumber).toBanglaNumber()) + "</div>";
                }
            }, {
                data: "trackingNumber",
                render: function (data, type, row, meta) {
                    return (languageCode == 'en' ? data.toEnglishNumber() : data.toBanglaNumber());
                }
            }, {
                data: "dateBng",
                render: function (data, type, row, meta) {
                    var splittedParts = data.split(" ");
                    return (languageCode == 'en' ? splittedParts[0].toEnglishNumber() : splittedParts[0] );
                }
            }, {
                data: "complainantName",
                render: function (data, type, row, meta) {
                    var complainantInfo = "";
                    if (data) {
                        complainantInfo = "<div class='bold'>" + data + "</div>";
                    } else {
                        complainantInfo = "<div class='bold'>নাম প্রকাশে অনিচ্ছুক</div>";
                    }
                    if(row.complainantMobile) {
                        complainantInfo += "<div>" + row.complainantMobile.toBanglaNumber() + "</div>";
                    }
                    if(row.complainantEmail) {
                        complainantInfo += "<div><a href='mailto:" + row.complainantEmail + "' class='clickable-link tooltips' data-toggle='tooltip' title='" + "ইমেইল করুন" + "'>" + row.complainantEmail + "</a></div>";
                    }
                    return complainantInfo;
                }
            }, {
                data: "serviceType",
                render: function (data, type, row, meta) {
                    return "<div class='text-center'>" + SERVICE_TYPES[data] + "</div>";
                }
            }, {
                data: "service"
            }, {
                data: "closingDateInGrievancePhase",
                render: function (data, type, row, meta) {
                    if(data) {
                        var splittedParts = data.split(" ");
                        return  (languageCode == 'en' ? splittedParts[0].toEnglishNumber() : splittedParts[0] )
                    } else {
                        return "<div class='text-center bold'>-</div>";
                    }
                }
            }, {
                data: "subject",
                render: function (data, type, row, meta) {
                    var currentTab = "appealRegister"; // Replace with the actual tab value if needed
                    var page = appealCurrentPage;      // Current page number
                    var size = itemPerPage;            // Page size

                    // Add 'data-id' and 'onclick' attributes to the <tr> element
                    var grievanceDetailsUrl = "viewAppealGrievances.do?id=" + row.id + "&tab=" + currentTab + "&page=" + page + "&size=" + size;
                    return "<a href='" + grievanceDetailsUrl + "' class='clickable-link tooltips' data-toggle='tooltip' title='অভিযোগের বিস্তারিত দেখুন'>" + data + "</a>";
                }
            }, {
                data: "closingOrRejectingDateBng",
                render: function (data, type, row, meta) {
                    if(data) {
                        var splittedParts = data.split(" ");
                        return  (languageCode == 'en' ? splittedParts[0].toEnglishNumber() : splittedParts[0] )
                    } else {
                        return "<div class='text-center bold'>-</div>";
                    }
                }
            }, {
                data: "currentStatus",
                render: function (data, type, row, meta) {
                    return getAppealResolveTypeText(data);
                }
            }]
        });

        $('#appealRegisterTable tbody').on('click', 'tr', function() {
            blockUI();

            // Get the row data and build the URL
            var rowData = table1.DataTable().row(this).data();
            var grievanceDetailsUrl = "viewAppealGrievances.do?id=" + rowData.id + "&tab=appealRegister&page=" + appealCurrentPage + "&size=" + itemPerPage;

            // Simulate loading by adding a delay before navigating to the details page
            setTimeout(function() {
                window.location.href = grievanceDetailsUrl;
            }, 500); // Delay added for smooth loading
        });


        $("#appealRegisterTable .next").click(function(e) {
            appealCurrentPage = appealCurrentPage + 1;
            $("#appealRegisterTable .prev").removeClass("disabled");
            if (appealCurrentPage == appealMaxPage) {
                $("#appealRegisterTable .next").addClass("disabled");
            }
            loadAppealRegister(appealCurrentPage, itemPerPage); // Pass the current page and size
        });

        $("#appealRegisterTable .prev").click(function(e) {
            appealCurrentPage = appealCurrentPage - 1;
            $("#appealRegisterTable .next").removeClass("disabled");
            if (appealCurrentPage == 1) {
                $("#appealRegisterTable .prev").addClass("disabled");
            }
            loadAppealRegister(appealCurrentPage, itemPerPage); // Pass the current page and size
        });

        var paginationFieldDom = $("#appealRegisterTable [name='appealCurrentPage']");

        // Function to handle page change logic
        function handlePageChange() {
            var curValue = ("" + paginationFieldDom.val()).toEnglishNumber();
            if ($.isNumeric(curValue)) {
                if (curValue > 0 && curValue <= appealMaxPage) {
                    appealCurrentPage = parseInt(curValue, 10);
                    if (appealCurrentPage == 1) {
                        $("#appealRegisterTable .prev").addClass("disabled");
                    } else {
                        $("#appealRegisterTable .prev").removeClass("disabled");
                    }
                    if (appealCurrentPage == appealMaxPage) {
                        $("#appealRegisterTable .next").addClass("disabled");
                    } else {
                        $("#appealRegisterTable .next").removeClass("disabled");
                    }
                    loadAppealRegister(appealCurrentPage, itemPerPage);
                } else {
                    toastr.error(languageCode == 'en' ? "Sorry, page range out of bound" : "দুঃখিত, পৃষ্ঠা সীমার বাইরে");
                    paginationFieldDom.val(languageCode == 'en' ? ("" + appealCurrentPage) : ("" + appealCurrentPage).toBanglaNumber());
                }
            } else {
                toastr.error(languageCode == 'en' ? "Sorry, invalid page number" : "দুঃখিত, অবৈধ পৃষ্ঠা নম্বর");
                paginationFieldDom.val(languageCode == 'en' ? ("" + appealCurrentPage) : ("" + appealCurrentPage).toBanglaNumber());
            }
        }

        // Blur event handler
        paginationFieldDom.blur(function(e) {
            e.preventDefault();
            handlePageChange();
        });

        // Event listener for Enter key on the pagination input field
        $('#appealRegisterTable .pagination-panel-input').keypress(function(e) {
            if (e.which === 13) { // Enter key code
                e.preventDefault();
                handlePageChange();
            }
        });
    }
</script>