<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="searchByTrx" th:remove="tag">
    <div class="panel panel-default" style="background: white;">
        <div class="panel-body" id="searchByTrxPanel" style="margin-left: 50px; margin-right: 50px">
            <div class="font-lg bold text-center margin-20" style="margin-bottom: 20px">অভিযোগ অনুসন্ধান</div>
            <div class="input_container" style="display: flex; flex-direction: column; align-items: center;">
                <div class="row margin-bottom-20 trx-search" style="margin-bottom: 30px; width: 20%; max-width: 800px;display: flex; flex-direction: column; align-items: center;">
                    <form id="searchForm" class="form-inline p-12" style="width: 100%;">
                        <div class="form-group" style="width: 100%; margin: 0 auto;">
                            <!-- Search type dropdown -->
                            <select id="searchType" class="form-control form-control-lg rounded" style="width: 100%; font-size: 14px; height: 34px;">
                                <option value="tracking_number">ট্র্যাকিং নম্বর</option>
                                <option value="phone_number">ফোন নম্বর</option>
                                <option value="nid">জাতীয় পরিচয় পত্র</option>
                                <option value="passport">পাসপোর্ট</option>
                                <option value="bcn">জন্মসনদ</option>
                            </select>
                        </div>

                        <!-- Search input -->
                        <div class="form-group" style="width: 100%; margin: 20px auto 0;">
                            <input type="text" id="search_input" name="search_input" class="form-control form-control-lg" placeholder="ট্র্যাকিং নম্বর প্রদান করুন" style="width: 100%; font-size: 14px;">
                        </div>
                    </form>
                </div>
            </div>

            <div class="text-center margin-top-20" style="display: flex; justify-content: center; gap: 10px;">
                <button id="clearButton" class="btn btn-warning" style="cursor: pointer; height: 35px; width: 140px; font-size: 16px;">রিফ্রেশ করুন</button>
                <button id="searchButton" class="btn btn-primary" style="cursor: pointer; height: 35px; width: 140px; font-size: 16px;">অনুসন্ধান করুন</button>
            </div>


            <div style="margin-top: 50px;" id="grievanceTableContainer">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered border bg-light">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ট্র্যাকিং নম্বর</th>
                                <th>জমাদানের তারিখ</th>
                                <th>অফিসের নাম</th>
                                <th>অবস্থা</th>
                                <th>বিষয়</th>
                                <th>অ্যাকশন</th>
                            </tr>
                        </thead>
                        <tbody id="grievanceTableBody">
                        </tbody>
                    </table>
                    <p id="data_found" style="text-align: center; display: block; margin: 0 auto; color: red;">কোনো অভিযোগ খুঁজে পাওয়া যায় নি</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:fragment="searchByTrxScript">

    document.addEventListener("DOMContentLoaded", function () {
        console.log(window.location.href);
        let newUrl = window.location.origin + window.location.pathname;
        window.history.replaceState(null, '', newUrl);

        const searchType = document.getElementById("searchType");
        const searchInput = document.getElementById("search_input");

        searchType.addEventListener("change", function () {
            let selectedValue = searchType.value;

            if (selectedValue === "nid") {
                searchInput.placeholder = "জাতীয় পরিচয় পত্র নম্বর প্রদান করুন";
            }
            else if (selectedValue === "tracking_number") {
                searchInput.placeholder = "ট্র্যাকিং নম্বর প্রদান করুন";
            } else if (selectedValue === "phone_number") {
                searchInput.placeholder = "ফোন নম্বর প্রদান করুন";
            } else if (selectedValue === "passport") {
                searchInput.placeholder = "পাসপোর্ট নম্বর প্রদান করুন";
            } else if (selectedValue === "bcn") {
                searchInput.placeholder = "জন্মসনদ নম্বর প্রদান করুন";
            }

        });

        document.getElementById("clearButton").addEventListener("click", function (){
            document.getElementById("search_input").value = "";
            document.getElementById("grievanceTableBody").innerHTML = "";
            document.getElementById("data_found").style.display = 'block';
        });

        document.getElementById("searchButton").addEventListener("click", function() {
            let currentSearchInput = document.getElementById("search_input").value.trim();

            if (currentSearchInput !== "") {
                if(searchType.value === "tracking_number"){
                    searchByTrackingNumber(currentSearchInput, "trx");
                } else if (searchType.value === "nid") {
                    currentSearchInput = convertBanglaToEnglishNumerals(currentSearchInput);
                    searchByTrackingNumber(currentSearchInput, "nid")
                } else if (searchType.value === "passport") {
                    searchByTrackingNumber(currentSearchInput, "pp")
                } else if (searchType.value === "bcn"){
                    currentSearchInput = convertBanglaToEnglishNumerals(currentSearchInput);
                    searchByTrackingNumber(currentSearchInput, "bcn")
                } else if (searchType.value === "phone_number"){
                    currentSearchInput = convertBanglaToEnglishNumerals(currentSearchInput);
                    searchByTrackingNumber(currentSearchInput, "ph")
                }
            } else {
                alert("ব্যক্তিগত নম্বর প্রদান করুন");
            }
        });

        document.getElementById("search_input").addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("searchButton").click();
            }
        });

        document.getElementById('search_input').addEventListener('keypress', function(event) {
            if(searchType.value !== "passport"){
                if ((event.charCode < 48 || event.charCode > 57) && (event.charCode < 2534 || event.charCode > 2543)) {
                    event.preventDefault();
                }
            }
        });
        document.getElementById('search_input').addEventListener('paste', function(event) {
            if (searchType.value !== "passport") {
                let pastedData = (event.clipboardData || window.clipboardData).getData('text');

                const regex = /^[0-9\u09E6-\u09EF]+$/;

                if (!regex.test(pastedData)) {
                    event.preventDefault();
                }
            }
        });
    });

    function searchByTrackingNumber(currentSearchInput, type) {
        const data_exist = document.getElementById("data_found");
        $.ajax({
            url: `/api/search/${type}/${currentSearchInput}`,
            type: "GET",
            success: function(response) {
                if (response.single) {
                    window.location.href = `/searchGrievances.do?id=${response.id}&tab=FindByTrackingNumber`;
                } else {
                    data_exist.style.display = 'none';
                    console.log(response.grievances)
                    displayGrievanceTable(response.grievances);
                }
            },
            error: function(xhr, status, error) {
                console.log("Error fetching grievance data: " + xhr.responseText);
                alert(`প্রদত্ত নম্বরের জন্য কোনো অভিযোগ পাওয়া যায়নি।`);
            }
        });
    }

    // function displayGrievanceTable(grievances) {
    //     const tableBody = document.getElementById("grievanceTableBody");
    //     tableBody.innerHTML = '';
    //
    //     grievances.forEach(function(grievance) {
    //         let row = document.createElement("tr");
    //
    //         let trackingNumberCell = document.createElement("td");
    //         trackingNumberCell.textContent = grievance.trackingNumber.toBanglaNumber();
    //         row.appendChild(trackingNumberCell);
    //
    //         let submissionDateCell = document.createElement("td");
    //         let date = new Date(grievance.submissionDate);
    //         let year = date.getFullYear().toString().toBanglaNumber();
    //         let month = (date.getMonth() + 1).toString().toBanglaNumber();
    //         if (month.length === 1) {
    //             month = "০"+month;
    //         }
    //         let day = date.getDate().toString().toBanglaNumber();
    //         if (day.length === 1) {
    //             day = "০"+day;
    //         }
    //         submissionDateCell.textContent = `${day}-${month}-${year}`;
    //         row.appendChild(submissionDateCell);
    //
    //         let complaintTypeCell = document.createElement("td");
    //         complaintTypeCell.textContent = convertServiceTypeToBangla(grievance.grievanceType);
    //         row.appendChild(complaintTypeCell);
    //
    //         let statusCell = document.createElement("td");
    //         statusCell.textContent = convertGrievanceStatusToBangla(grievance.grievanceCurrentStatus);
    //         row.appendChild(statusCell);
    //
    //         let subjectCell = document.createElement("td");
    //         subjectCell.textContent = grievance.subject;
    //         row.appendChild(subjectCell);
    //
    //         let actionCell = document.createElement("td");
    //         let viewButton = document.createElement("button");
    //         viewButton.textContent = "দেখুন";
    //         viewButton.className = "btn btn-primary";
    //         viewButton.style.cursor = "pointer";
    //         viewButton.addEventListener("click", function() {
    //             window.location.href = `/searchGrievances.do?id=${grievance.id}`;
    //         });
    //         actionCell.appendChild(viewButton);
    //         row.appendChild(actionCell);
    //
    //         tableBody.appendChild(row);
    //     });
    //
    //     document.getElementById("grievanceTableContainer").style.display = "block";
    // }

    function displayGrievanceTable(grievances) {
        const tableBody = document.getElementById("grievanceTableBody");
        tableBody.innerHTML = '';

        grievances.forEach(function(grievance, index) {
            let row = document.createElement("tr");

            // Add the serial number column
            let serialNumberCell = document.createElement("td");
            serialNumberCell.textContent = (index + 1).toString().toBanglaNumber(); // Convert to Bangla number
            row.appendChild(serialNumberCell);

            // Tracking Number
            let trackingNumberCell = document.createElement("td");
            trackingNumberCell.textContent = grievance.trackingNumber.toBanglaNumber();
            row.appendChild(trackingNumberCell);

            // Submission Date
            let submissionDateCell = document.createElement("td");
            let date = new Date(grievance.submissionDate);
            let year = date.getFullYear().toString().toBanglaNumber();
            let month = (date.getMonth() + 1).toString().toBanglaNumber();
            if (month.length === 1) {
                month = "০" + month;
            }
            let day = date.getDate().toString().toBanglaNumber();
            if (day.length === 1) {
                day = "০" + day;
            }
            submissionDateCell.textContent = `${day}-${month}-${year}`;
            row.appendChild(submissionDateCell);

            let officeNameCell = document.createElement("td");
            officeNameCell.textContent = grievance.officeName || 'N/A';
            row.appendChild(officeNameCell);

            // Complaint Type
            // let complaintTypeCell = document.createElement("td");
            // complaintTypeCell.textContent = convertServiceTypeToBangla(grievance.grievanceType);
            // row.appendChild(complaintTypeCell);

            // Status
            let statusCell = document.createElement("td");
            statusCell.textContent = convertGrievanceStatusToBangla(grievance.grievanceCurrentStatus);
            row.appendChild(statusCell);

            // Subject
            let subjectCell = document.createElement("td");
            subjectCell.textContent = grievance.subject;
            row.appendChild(subjectCell);

            // Action button
            let actionCell = document.createElement("td");
            let viewButton = document.createElement("button");
            viewButton.textContent = "বিস্তারিত দেখুন";
            viewButton.className = "btn btn-primary";
            viewButton.style.cursor = "pointer";
            viewButton.addEventListener("click", function() {
                window.location.href = `/searchGrievances.do?id=${grievance.id}&tab=FindByTrackingNumber`;
            });
            actionCell.appendChild(viewButton);
            row.appendChild(actionCell);

            tableBody.appendChild(row);
        });
        document.getElementById("grievanceTableContainer").style.display = "block";
    }

    // Helper functions, possibly move out into a separate utility module? but only if asked later on
    // document.getElementById('search_input').addEventListener('input', function(event) {
    //     var inputField = event.target;
    //     var inputValue = inputField.value;
    //
    //     inputField.value = inputValue.toBanglaNumber();
    // });

    function convertBanglaToEnglishNumerals(input) {
        const banglaToEnglishMap = {
            '০': '0', '১': '1', '২': '2', '৩': '3', '৪': '4',
            '৫': '5', '৬': '6', '৭': '7', '৮': '8', '৯': '9'
        };
        return input.replace(/[০-৯]/g, function(match) {
            return banglaToEnglishMap[match];
        });
    }
    function convertGrievanceStatusToBangla(currentStatus) {
        let banglaText = "";
        switch (currentStatus) {
            case "NEW":
            case "CELL_NEW":
                banglaText = "নতুন";
                break;
            case "FORWARDED_OUT":
                banglaText = "অন্য দপ্তরে প্রেরিত";
                break;
            case "FORWARDED_IN":
                banglaText = "আওতাধীন দপ্তরে প্রেরণ";
                break;
            case "ACCEPTED":
                banglaText = "গৃহীত";
                break;
            case "REJECTED":
                banglaText = "নথিজাত";
                break;
            case "IN_REVIEW":
            case "APPEAL_IN_REVIEW":
                banglaText = "পর্যালোচনা";
                break;
            case "CLOSED_ANSWER_OK":
            case "CLOSED_SERVICE_GIVEN":
            case "CLOSED_ACCUSATION_PROVED":
            case "CLOSED_ACCUSATION_INCORRECT":
            case "CLOSED_OTHERS":
            case "CLOSED_INSTRUCTION_EXECUTED":
                banglaText = "নিষ্পত্তি";
                break;
            case "APPEAL":
                banglaText = "আপিলকৃত";
                break;
            case "INVESTIGATION":
            case "INVESTIGATION_APPEAL":
                banglaText = "তদন্ত";
                break;
            case "INV_NOTICE_FILE":
            case "INV_NOTICE_FILE_APPEAL":
                banglaText = "অতিরিক্ত সংযুক্তি";
                break;
            case "INV_NOTICE_HEARING":
            case "INV_NOTICE_HEARING_APPEAL":
                banglaText = "তদন্ত শুনানি নোটিশ";
                break;
            case "INV_HEARING":
            case "INV_HEARING_APPEAL":
                banglaText = "তদন্ত শুনানি গৃহীত";
                break;
            case "INV_REPORT":
            case "INV_REPORT_APPEAL":
                banglaText = "তদন্ত প্রতিবেদন";
                break;
            case "APPEAL_CLOSED_ACCUSATION_INCORRECT":
            case "APPEAL_CLOSED_OTHERS":
            case "APPEAL_CLOSED_ACCUSATION_PROVED":
            case "APPEAL_CLOSED_ANSWER_OK":
            case "APPEAL_CLOSED_INSTRUCTION_EXECUTED":
            case "APPEAL_CLOSED_SERVICE_GIVEN":
                banglaText = "নিষ্পত্তি";
                break;
            case "APPEAL_REJECTED":
                banglaText = "নথিজাত";
                break;
            case "APPEAL_STATEMENT_ANSWERED":
            case "APPEAL_STATEMENT_ASKED":
                banglaText = "আপিলকৃত";
                break;
            case "STATEMENT_ASKED":
                banglaText = "মতামতের জন্য প্রেরিত";
                break;
            case "APPEAL_GIVE_GUIDANCE":
            case "GIVE_GUIDANCE":
                banglaText = "সেবা প্রদানের জন্য নির্দেশিত";
                break;
            case "PERMISSION_ASKED":
                banglaText = "অনুমতির জন্য প্রেরিত";
                break;
            case "PERMISSION_REPLIED":
                banglaText = "অনুমতি উত্তর প্রাপ্ত";
                break;
            case "STATEMENT_ANSWERED":
                banglaText = "মতামত প্রাপ্ত";
                break;
            case "FORWARDED_TO_AO":
                banglaText = "আপিল অফিসারের কাছে প্রেরিত";
                break;
            case "APPEAL_RECOMMEND_DEPARTMENTAL_ACTION":
            case "RECOMMEND_DEPARTMENTAL_ACTION":
                banglaText = "বিভাগীয় ব্যবস্থা গ্রহণের সুপারিশকৃত";
                break;
            case "TESTIMONY_GIVEN":
                banglaText = "সাক্ষ্য-প্রমাণ প্রেরিত";
                break;
            case "APPEAL_REQUEST_TESTIMONY":
            case "REQUEST_TESTIMONY":
                banglaText = "সাক্ষ্য-প্রমাণের নির্দেশ";
                break;
            case "CELL_MEETING_ACCEPTED":
                banglaText = "সেল সভায় গৃহীত";
                break;
            case "CELL_MEETING_PRESENTED":
                banglaText = "সেল মিটিং এ উপস্থাপিত";
                break;
            case "GIVE_GUIDANCE_POST_INVESTIGATION":
                banglaText = "তদন্তের জন্য নির্দেশিকা";
                break;
            case "APPEAL_GIVE_GUIDANCE_POST_INVESTIGATION":
                banglaText = "আপীল তদন্তের জন্য নির্দেশিকা";
                break;
            default:
                banglaText = currentStatus;
        }
        return banglaText;
    }
    function convertServiceTypeToBangla(serviceType) {
        switch (serviceType) {
            case "NAGORIK":
                return "নাগরিক";
            case "DAPTORIK":
                return "দাপ্তরিক";
            case "STAFF":
                return "কর্মকর্তা-কর্মচারী";
            default:
                return serviceType;
        }
    }
</script>

</body>
</html>