<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="userManual" th:remove="tag">
    <div class="userManual-section ">
        <div class="panel-group" id="accordion_user_manual">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_1" aria-expanded="false"> অভিযোগ প্রতিকার ব্যবস্থা কি?</a>
                    </div>
                </div>
                <div id="collapse_1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ প্রতিকার ব্যবস্থা (Grievance Redress System), সংক্ষেপে <b>জিআরএস (GRS)</b>, মূলত বিভিন্ন সরকারি দপ্তরকর্তৃক প্রদানকৃত সেবা নিশ্চিতকরণের একটি প্ল্যাটফর্ম। জিআরএস ব্যবস্থার অন্তর্ভুক্ত প্রতিটি দপ্তরে গণপ্রজাতন্ত্রী বাংলাদেশের একজন নাগরিক যে কোনো সেবার বিরুদ্ধে তার অসন্তোষ বা ক্ষোভ জানিয়ে অভিযোগ দাখিল করতে পারেন। অভিযোগকারী নাগরিককে তার অভিযোগের বিষয়ে যেকোনো ধরণের অগ্রগতি বা সিদ্ধান্ত সম্পর্কে অবহিত করা এবং কোনো বিষয়য়ে তাঁর মূল্যবান মতামত বা পরামর্শ মূল্যায়ন করাও এই ব্যবস্থার অন্যতম। সরকারি কর্মকর্তা/কর্মচারীরাও একইভাবে যে কোনো সেবার বিপরীতে তাদের অভিযোগ এখানে জানাতে পারবেন।
                        </p>
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ প্রতিকার ব্যবস্থায় একজন নাগরিক নিবন্ধনপূর্বক তাঁর নাগরিক হিসেবে প্রাপ্য সেবা-সংশ্লিষ্ট অভিযোগ করতে পারেন অথবা ব্যক্তিগত তথ্য গোপন রেখে অজ্ঞাতনামা হিসেবে অভিযোগ করতে পারেন। তবে ধর্মীয়, কোনো আদালতে বিচারাধীন, তথ্য অধিকার, সরকারি কর্মকর্তা-কর্মচারীদের বিরুদ্ধে গৃহীত বিভাগীয় মামলা অথবা আইন বা বিধির আওতায় রিভিউ/আপিলের সুযোগ রয়েছে এরূপ বিষয়-সংশ্লিষ্ট অভিযোগ গ্রহণযোগ্য হবে না।
                        </p>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_2" aria-expanded="false"> নিবন্ধন</a>
                    </div>
                </div>
                <div id="collapse_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ প্রতিকার সংক্রান্ত যেকোনো সেবা প্রাপ্তির জন্য আপনাকে অবশ্যই জিআরএস এ নিবন্ধিত হতে হবে। নিবন্ধনের জন্য অভিযোগকারী লগইন পেইজের <b>“নিবন্ধন”</b> চিহ্নিত লিংকে ক্লিক করলে অভিযোগকারী তথ্যের ফরম আসবে। এখানে বাধ্যতামূলকভাবে মোবাইল নম্বর, পূর্ণনাম, জাতীয় পরিচয়পত্র নম্বর / জন্মনিবন্ধন সনদ নম্বর / পাসপোর্ট নম্বর, স্থায়ী ঠিকানা ও বর্তমান ঠিকানার তথ্যসহ অন্যান্য কিছু ঐচ্ছিক তথ্য প্রদান করে ফরমের নিচের নিবন্ধন বাটনে ক্লিক করতে হবে। সফলভাবে নিবন্ধন সম্পন্ন হলে আপনাকে এসএমএস ও ইমেইলের মাধ্যমে তা নিশ্চিত করা হবে এবং আপনার প্রদত্ত মোবাইল নম্বরে একটি পিন নম্বর এসএমএস এর মাধ্যমে প্রেরণ করা হবে। ঊক্ত পিন ব্যবহার করে আপনি অভিযোগকারী হিসেবে লগইন করতে পারবেন।
                        </p>
                        <p style="text-align: justify;" class="font-md">
                            উল্লেখ্য যে, নিবন্ধনের জন্য যে মোবাইল নম্বরটি প্রদান করা হবে, সেটি যদি ইতোপূর্বে জিআরএস-এ নিবন্ধনের জন্য ব্যবহৃত হয়ে থাকে, তবে আপনার নিকট অন্য কোনো তথ্য চাওয়ার পরিবর্তে, শুধুমাত্র লগইনের জন্য পিন নম্বর চাওয়া হবে। কোনো মোবাইল নম্বর দিয়ে নিবন্ধন করা হলে পরবর্তিতে ঐ নম্বর ব্যবহার করে আর কোনো নিবন্ধন করা যাবেনা। অর্থাৎ একই নম্বর একাধিক নিবন্ধের জন্য ব্যবহার করা যাবেনা।
                        </p>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_3" aria-expanded="false"> লগইন করা</a>
                    </div>
                </div>
                <div id="collapse_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            জিআরএস হোমপেইজের উপরে ডানপাশে <b>“অভিযোগকারী লগইন”</b> বাটনে ক্লিক করলে লগইন পেইজ আসবে। আপনি যদি ইতোপূর্বে নিবন্ধন করে থাকেন, তাহলে আপনার ইউজারনেম এবং পিন নম্বর সঠিকভাবে প্রদান করে লগইন বাটনে ক্লিক করার পর সকল তথ্য প্রদান সঠিক হয়ে থাকলে আপনি আপনার অভিযোগ তালিকার পেইজটি দেখতে পাবেন। অন্যথায় স্ক্রিনে সতর্কতামূলক মেসেজ দেখা যাবে।
                        </p>
                        <p style="text-align: justify;" class="font-md">
                            আর যদি পূর্বে থেকেই লগইন করা থাকে তাহলে হোমপেইজের লগইন বাটনগুলোর পরিবর্তে <b>“আমার প্যানেল”</b> ও <b>“লগ আউট”</b> নামের বাটন দেখা যাবে। সেক্ষেত্রে প্রথমোক্ত বাটনে ক্লিক করলেই আপনি আপনার অভিযোগ তালিকার পেইজটি দেখতে পাবেন।
                        </p>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_4" aria-expanded="false"> পিনকোড ভুলে গেলে করণীয় (পিন পরিবর্তন)</a>
                    </div>
                </div>
                <div id="collapse_4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            আপনি যদি পিন নম্বরটি ভুলে যান বা কোনো কারনে পিন নম্বরটি হারিয়ে যায় অথবা পিন পরিবর্তন করতে চান, তবে অভিযোগকারী লগইন ফরমের নিচে <b>“পিনকোড উদ্ধার”</b> নামের অপশনটিতে ক্লিক করতে হবে। তাহলে আপনার নিকট মোবাইল নম্বর চাওয়া হবে এবং সঠিকভাবে মোবাইল নম্বরটি প্রদান করলে উক্ত নম্বরে নতুন একটি পিনকোড প্রেরণ করা হবে। নতুন পিনকোড ব্যবহার করে আপনি সহজেই লগইন করতে পারবেন।
                        </p>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_5" aria-expanded="false"> লগআউট</a>
                    </div>
                </div>
                <div id="collapse_5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            লগইন করার পর উপরের মেনুবারের ডানদিকে যেখানে ইউজারনেম প্রদর্শিত হয়, সেখানে ক্লিক করলে <b>“লগ আউট”</b> নামের একটি অপশন দেখা যাবে। উক্ত অপশনে ক্লিক করলে আপনি আপনার বর্তমান লগইন অবস্থা থেকে বের হয়ে যাবেন। লগইন থাকা অবস্থায় হোমপেইজে আসলে সেখানেও একটি <b>“লগ আউট”</b> বাটন দেখা যাবে। ঐ বাটনে ক্লিক করেও একইভাবে লগ আউট করা যাবে। অভিযোগকারী হিসেবে সঠিকভাবে লগ আউট করার পর আপনাকে জিআরএস হোমপেইজে নিয়ে যাওয়া হবে।
                        </p>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_6" aria-expanded="false"> নাগরিক অভিযোগ দাখিল</a>
                    </div>
                </div>
                <div id="collapse_6" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            নাগরিক অভিযোগ দাখিলের জন্য অভিযোগ প্রতিকার ব্যবস্থায় লগইন করার পর প্রথমেই যে অভিযোগ তালিকা দেখা যায় তার উপরের ডানদিকে <b>“নতুন অভিযোগ”</b> বাটনে ক্লিক করলে একটি ফরম আসবে। অথবা অভিযোগ প্রতিকার ব্যবস্থার হোমপেইজের <b>“অভিযোগ দাখিল”</b> বাটনে ক্লিক করে <b>“নাগরিক অভিযোগ”</b> অপশনটি নির্বাচন করেও অভিযোগ দায়ের করা যাবে। এক্ষেত্রে যদি ইতোমধ্যে লগইন করা হয়ে থাকে তবে অভিযোগ দাখিলের জন্য একটি ফরম আসবে। আর যদি লগইন করা না থাকে তবে অভিযোগকারী নিবন্ধন ফরম আসবে। এখান থেকে নিবন্ধন ও লগইন করার পর নাগরিক অভিযোগ দাখিলের ফরমটি পাওয়া যাবে।
                        </p>
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ দাখিল ফরমে অভিযোগ সংশ্লিষ্ট দপ্তর ও সেবা নির্বাচন, সেবা আবেদনের তারিখ, অভিযোগকারীর নাম, অভিযোগের বিষয়, বর্ণনা ও প্রয়োজনীয় সংযুক্তি প্রদান করে অভিযোগ প্রেরণ বাটনে ক্লিক করলে অভিযোগটি ঐ দপ্তরের অভিযোগ নিষ্পত্তি কর্মকর্তার নিকট প্রেরিত হয়ে যাবে। তবে ফরম পূরন করার পর প্রেরণ করার পূর্বে অভিযোগের প্রিভিউ দেখা ও প্রিন্ট নেওয়া যাবে। অভিযোগটি সফলভাবে প্রেরিত হলে উক্ত অভিযোগের একটি রিসিপ্ট দেখা যাবে, যেখানে অভিযোগের ট্র্যাকিং নম্বর ও অভিযোগ নিষ্পত্তি কর্মকর্তার তথ্য দেখা যাবে ও প্রিন্ট করা যাবে। অভিযোগের অগ্রগতি ও সর্বশেষ অবস্থা জানার জন্য এই ট্র্যাকিং নম্বরটি অবশ্যই সংরক্ষণ করুন। উল্লেখ্য যে, অভিযোগ দাখিল হওয়ার পর নিষ্পন্ন হওয়ার সময়সীমা <b>৬০ দিন</b> পর্যন্ত।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_7" aria-expanded="false"> অজ্ঞাতনামা হিসেবে অভিযোগ দাখিল</a>
                    </div>
                </div>
                <div id="collapse_7" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            আপনি যদি কোনো কারনে অজ্ঞাতনামা হিসেবে অভিযোগ দাখিল করতে চান তবে অভিযোগ প্রতিকার ব্যবস্থার হোমপেইজের <b>“অভিযোগ দাখিল”</b> বাটনে ক্লিক করে <b>“অজ্ঞাতনামা হিসেবে অভিযোগ”</b> অপশনটি নির্বাচন করতে হবে। তাহলে নাগরিক অভিযোগ দাখিল ফরমের ন্যায় অজ্ঞাতনামা হিসেবে অভিযোগ দাখিলের একটি ফরম দেখা যাবে। এই ফরমে অভিযোগ সংশ্লিষ্ট দপ্তর ও সেবা নির্বাচন করে সেবা আবেদনের তারিখ, অভিযোগকারীর নাম, অভিযোগের বিষয়, বর্ণনা ও প্রয়োজনীয় সংযুক্তি প্রদান করার পর অভিযোগ প্রেরণ বাটনে ক্লিক করলে অভিযোগটি নিশ্চিত করার জন্য প্রিভিউ দেখানো হবে। এখান থেকে অভিযোগের প্রিভিউ প্রিন্ট করা যাবে এবং অভিযোগটি প্রেরণ করা যাবে।
                        </p>
                        <p style="text-align: justify;" class="font-md">
                            অজ্ঞাতনামা হিসেবে অভিযোগ প্রেরণের ক্ষেত্রে অভিযোগ প্রেরণ বাটনে ক্লিক করলে একটি সতর্কীকরণ বার্তা দেখতে পাবেন যেখানে বলা থাকবে যে, <b>“অজ্ঞাতনামা হিসেবে দাখিল করলে অভিযোগ এর অবস্থা অবগত হওয়া সম্ভব হবে না এবং প্রতিকার করা হতেও পারে, নাও হতে পারে। তবে কাউকে হয়রানি করার উদ্দেশ্যে অজ্ঞাতনামা অভিযোগ দাখিল করলে প্রয়োজনে বিশেষ প্রক্রিয়ায় তথ্য বের করে আইনানুগ ব্যবস্থা নেয়া হতে পারে”</b>। অতঃপর নিশ্চিত করা হলে অভিযোগটি সংশ্লিষ্ট দপ্তরের অভিযোগ নিষ্পত্তি কর্মকর্তার নিকট প্রেরিত হয়ে যাবে। উল্লেখ্য যে, অজ্ঞাতনামা হিসেবে অভিযোগ দাখিল করলে আপনাকে অভিযোগ নিষ্পত্তি কর্মকর্তার কোনো তথ্য জানানো হবে না এবং কোনো ট্র্যাকিং নম্বরও প্রদান করা হবেনা। ফলে পরবর্তিতে উক্ত অভিযোগের সর্বশেষ অগ্রগতি ও অবস্থা সম্পর্কিত কোনো তথ্য জানা সম্ভব হবেনা।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_8" aria-expanded="false"> অভিযোগ তালিকা</a>
                    </div>
                </div>
                <div id="collapse_8" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ প্রতিকার ব্যবস্থায় একজন অভিযোগকারী হিসেবে সফলভাবে লগইন করার পর আপনাকে অভিযোগের তালিকা প্রদর্শন করা হবে। অভিযোগ তালিকায় আপনি আপনার দায়েরকৃত অভিযোগসমূহ দেখতে পাবেন। তালিকায় সর্বশেষ দায়েরকৃত নির্দিষ্ট সংখ্যক (সাধারণত ১০টি) অভিযোগ একসাথে দেখা যাবে।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_9" aria-expanded="false"> অভিযোগের বিস্তারিত</a>
                    </div>
                </div>
                <div id="collapse_9" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            কোনো অভিযোগের বিস্তারিত দেখতে চাইলে তালিকা থেকে উক্ত অভিযোগ সম্পর্কিত তথ্যের উপর ক্লিক করতে হবে। তাহলে <b>বিবরণ </b>অংশে অভিযোগের বিস্তারিত তথ্য দেখা যাবে। এখানে অভিযোগকারীর তথ্য, সেবার বিবরণ, অভিযোগের বর্ণনা, ট্র্যাকিং নম্বর, সর্বশেষ অবস্থা, সংযুক্ত ফাইলসমূহ সহ অন্যান্য তথ্যাদি জানা যাবে এবং প্রয়োজনে অভিযোগের বিস্তারিত প্রিন্ট করা যাবে।
                        </p>
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ দায়ের করার পর হতে বর্তমান সময় পর্যন্ত যেসকল পদক্ষেপ নেওয়া হয়েছে তা <b>গৃহীত কার্যক্রম</b> অংশে ক্লিক করলে দেখা যাবে।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_10" aria-expanded="false"> আপিল</a>
                    </div>
                </div>
                <div id="collapse_10" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            আপনার দাখিলকৃত অভিযোগটি নিষ্পত্তি হয়ে গেলে আপনাকে এসএমএস ও ইমেইল এর মাধ্যমে জানানো হবে। অভিযোগ নিষ্পত্তি কর্মকর্তা কর্তৃক গৃহীত ব্যবস্থার উপর আপনি যদি সন্তষ্ট না হয়ে থাকেন তবে আপনি আপিল করতে পারেন। আপনার অভিযোগটি যদি কোনো কারণে নথিজাত করা হয়ে থাকলেও আপনি আপিল করতে পারবেন। এক্ষেত্রে অভিযোগের বিস্তারিত বিবরণের উপরে ডানপাশে <b>“আপিল করুন”</b> বাটন দেখা যাবে। উক্ত বাটনে ক্লিক করলে আপনার অভিযোগটি স্বয়ংক্রিয়ভাবে আপিল হয়ে সংশ্লিষ্ট আপিল কর্মকর্তার নিকট প্রেরিত হবে এবং আপনাকে আপিল কর্মকর্তার তথ্য দেখানো হবে। আপিল কার্যক্রম সম্পন্ন হওয়ার সময়সীমা <b>৩০ দিন</b>।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_11" aria-expanded="false"> অভিযোগ ব্যবস্থাপনা সেল বরাবর অভিযোগ ও আপিল</a>
                    </div>
                </div>
                <div id="collapse_11" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ ব্যবস্থাপনা সেল বরাবর অভিযোগ করার ক্ষেত্রে অভিযোগ দাখিলের সময় দপ্তর বাছাই অংশে <b>“সেল”</b> নির্বাচন করতে হবে। তাহলে আপনার অভিযোগটি সরাসরি সেলে দাখিল হয়ে যাবে। আবার আপিল করার পর আপিল কর্মকর্তার সিদ্ধান্তে সংক্ষুব্ধ হলে অথবা সন্তুষ্ট না হয়ে থাকলে আপনি পুনরায় আপিল করতে পারেন। পুনরায় আপিলের ক্ষেত্রে আপনার আপিলটি সরাসরি সেলের নিকট প্রেরিত হয়ে যাবে। উল্লেখ্য যে, সেল কর্তৃক অভিযোগ নিষ্পত্তির সময়সীমা <b>৯০ দিন </b>এবং আপিল নিষ্পত্তির সময়সীমা <b>৩০ দিন</b>।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_12" aria-expanded="false"> অভিযোগ ট্র্যাকিং</a>
                    </div>
                </div>
                <div id="collapse_12" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ প্রতিকার ব্যবস্থায় দাখিলকৃত কোনো অভিযোগের অগ্রগতি বা সর্বশেষ অবস্থা জানার জন্য সহজ উপায় হলো অভিযোগ ট্র্যাকিং। একজন নিবন্ধিত অভিযোগকারী হিসেবে অভিযোগ দাখিল করে পরবর্তীতে সিস্টেমে লগইন না করে এবং অভিযোগের বিস্তারিত না দেখেও সহজেই আপনি আপনার অভিযোগটি ট্র্যাক করতে পারেন। এক্ষেত্রে হোমপেইজে <b>“অভিযোগের সর্বশেষ অবস্থা”</b> অপশনটতে ক্লিক করলে অভিযোগ ট্র্যাকিংয়ের একটি ফরম দেখা যাবে। উক্ত ফরমে আপনার মোবাইল নম্বর ও যে অভিযোগটির বিস্তারিত জানতে চাচ্ছেন সেটির ট্র্যাকিং নম্বর প্রদান করে <b>“অবস্থা জানুন”</b> বাটনে ক্লিক করলে অভিযোগটির সর্বশেষ অবস্থার পাশাপাশি দাখিলের সময় ও নিষ্পত্তির সম্ভাব্য তারিখ সম্পর্কে জানতে পারবেন। তবে অজ্ঞাতনামা হিসেবে অভিযোগ দাখিল করলে আপনি আপনার অভিযোগটি ট্র্যাক করতে পারবেন না।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_13" aria-expanded="false"> রেটিং প্রদান</a>
                    </div>
                </div>
                <div id="collapse_13" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            কোনো অভিযোগ বা আপিল নিষ্পত্তি হয়ে গেলে আপনি উক্ত অভিযোগ বা আপিল নিষ্পত্তি প্রক্রিয়া ও গৃহীত ব্যবস্থার উপর আপনার সন্তুষ্টি প্রকাশ করার জন্য <b>“প্রতিক্রিয়া প্রদান”</b> অংশে ক্লিক করে রেটিং প্রদান করতে পারেন। রেটিং এর মান ৫ এর মধ্যে ০.৫ ব্যবধানে যেকোনো মান হতে পারে। অভিযোগ নিষ্পত্তি ও আপিল নিষ্পত্তি উভয়ক্ষেত্রেই রেটিং প্রদান করা যায়। রেটিং এর পাশাপাশি আপনি চাইলে আপনার প্রদত্ত রেটিং সম্পর্কে মতামতও প্রদান করতে পারেন।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_14" aria-expanded="false"> সেবার মানোন্নয়নে পরামর্শ প্রদান</a>
                    </div>
                </div>
                <div id="collapse_14" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ প্রতিকার ব্যবস্থায় আপনি যেকোনো সেবার গুণগত মান বৃদ্ধি, সেবা সহজিকরণ, সংশ্লিষ্ট আইন/বিধি সংস্কার ইত্যাদি বিষয়ে আপনার সুচিন্তিত মতামত বা মূল্যবান পরামর্শ প্রদান করতে পারেন। এজন্য হোমপেইজের <b>“সেবার মানোন্নয়নে পরামর্শ”</b> লিংকে ক্লিক করলে একটি ফরম আসবে। সেখানে আনুষঙ্গিক তথ্য সহকারে আপনার মতামত বা পরামর্শ প্রদান করতে পারেন।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_15" aria-expanded="false"> সেবা প্রদান প্রতিশ্রুতি ব্যবহার</a>
                    </div>
                </div>
                <div id="collapse_15" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            জিআরএস ব্যবস্থার আওতাধীন যেকোনো দপ্তরের সেবা প্রদান প্রতিশ্রুতি তথা সিটিজেন চার্টার দেখার জন্য হোমপেইজের <b>“সেবা প্রদান প্রতিশ্রুতি”</b> লিংকে ক্লিক করতে হবে অথবা উপরের বামপাশে মেনুবার হতে <b>“সেবা প্রদান প্রতিশ্রুতি”</b> নির্বাচন করতে হবে। তারপর সিটিজেন চার্টার দেখার জন্য যে পেইজ আসবে সেখানে দপ্তর বাছাই করলে ঐ দপ্তরের সেবা সমূহের তালিকা, সেবাগ্রহীতার নিকট প্রত্যাশা, অভিযোগ নিষ্পত্তি কর্মকর্তা ও আপিল কর্মকর্তার তথ্য সংবলিত সিটিজেন চার্টার দেখা যাবে। সিটিজেন চার্টারের প্রতিটি সেবার পাশে ঐ সেবার বিরুদ্ধে অভিযোগ করার অপশনও থাকবে, যেখান থেকে উক্ত সেবার বিরুদ্ধে সহজেই অভিযোগ দাখিল করা যাবে।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_16" aria-expanded="false">কালোতালিকাভুক্তি</a>
                    </div>
                </div>
                <div id="collapse_16" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            কোনো অভিযোগকারী অভ্যাসগতভাবে অসত্য এবং কাউকে হয়রানি করার জন্য কিংবা অন্য কোনো অসৎ উদ্দেশ্যে অভিযোগ দাখিল করেন মর্মে প্রমাণিত হলে অনিক-এর সুপারিশের ভিত্তিতে সংশ্লিষ্ট আপিল কর্মকর্তা উক্ত অভিযোগকারীকে কালো তালিকাভুক্ত করতে পারবেন। এরূপ কালো তালিকাভুক্ত ব্যক্তির নিকট থেকে প্রাপ্ত কোনো অভিযোগ কর্তৃপক্ষ বিনা পদক্ষেপে খারিজ করতে পারবেন এবং পরবর্তী সময়ে ঐ ব্যক্তিকে কালোতালিকা হতে অব্যহতি না দেওয়া পর্যন্ত আর কোনো অভিযোগ দাখিল করতে পারবেন না।
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-question-circle font-red"></i>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_user_manual" href="#collapse_17" aria-expanded="false">গুরুত্বপূর্ণ তথ্য ও যোগাযোগ</a>
                    </div>
                </div>
                <div id="collapse_17" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;" class="font-md">
                            অভিযোগ প্রতিকার ব্যবস্থা সংক্রান্ত যেকোনো প্রশ্নোত্তরের জন্য হোমপেইজের <b>“সচরাচর জিজ্ঞাস্য”</b> অংশ দেখতে পারেন। অভিযোগ প্রতিকারের কার্যপদ্ধতির প্রবাহচিত্র দেখতে পারেন <b>“পদ্ধতি-চিত্র”</b> অংশে। <b>“জিআরএস নির্দেশিকা”</b> অংশে অভিযোগ প্রতিকার ব্যবস্থা সংক্রান্ত নির্দেশিকা পড়তে ও সংরক্ষণ করতে পারেন। অফলাইনে অভিযোগ/আপিল দাখিল করতে প্রয়োজনীয় ফরমস ডাউনলোড করতে পারেন <b>“ডাউনলোডস”</b> অংশ থেকে।
                        </p>
                        <p style="text-align: justify;" class="font-md">
                            যেকোনো সহযোগিতা বা প্রয়োজনে <b>“যোগাযোগ”</b> অংশে উল্লেখিত নম্বরের মাধ্যমে হেল্পডেস্কে কল করতে পারেন, অথবা ইমেইল করতে পারেন প্রদর্শিত ইমেইল ঠিকানায়। এছাড়াও ফেসবুক, টুইটার, ইউটিউব ও গুগলপ্লাস এর মতো সামাজিক যোগাযোগ ব্যবস্থার মাধ্যমে যুক্ত থাকতে হোমপেইজের নিচে প্রদর্শিত লিংকগুলোতে ভিজিট করতে পারেন।
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>