<html xmlns:th="http://www.thymeleaf.org">
<div class="page-sidebar-wrapper hide" th:fragment="leftMenu(adminMenus,lang)">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="sidebar-search-wrapper">
            </li>
            <li class="nav-item">
                <a href="/dashboard.do" class="nav-link nav-toggle">
                    <i class="icon-diamond"></i>
                    <span class="title" th:text="#{menu.dashboard}"></span>
                </a>
            </li>
        </ul>
    </div>
</div>