<div><p class="v1MsoNormal" style="text-align: center"><span
        style="font-size: 9.0pt;font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;;color: red">শুধুমাত্র</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">জিআরএস</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">সফটওয়্যার</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">সংক্রান্ত</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">জিজ্ঞাসা</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red">/</span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">চাহিদা</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">অথবা</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">টেকনিক্যাল</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">সমস্যা</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">স্ক্রিনশর্টসহ</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">মেইল</span><span
        style="font-size: 9.0pt; font-family: &quot;Nikosh&quot;,&quot;serif&quot;; color: red"> </span><span
        style="font-size: 9.0pt; font-family: &quot;Nirmala UI&quot;,&quot;sans-serif&quot;; color: red">করুন</span><span
        style="font-size: 10.0pt"><!-- o ignored --></span></p></div>