<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="page-wrapper-row" th:fragment="header(menu)">
    <div class="page-wrapper-top">
        <div class="page-header">
<!--            <div class="page-header-strip">-->
<!--                <div class="container">-->
<!--                    <ul class="header-strip-nav">-->
<!--&lt;!&ndash;                        <li class="bangla">&ndash;&gt;-->
<!--&lt;!&ndash;                            <i class="icon-call-end"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="tel:+88029113781" th:text="#{helpdesk.phone.number}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--                        <li class="english">-->
<!--                            <i class="icon-envelope"></i>-->
<!--                            <a href="mailto:grs@cabinet.gov.bd">grs@cabinet.gov.bd</a>-->
<!--                            &lt;!&ndash; Marquee scrolling text &ndash;&gt;-->
<!--                            <marquee style="margin-left: 10px; width: 200px;" scrollamount="5">-->
<!--                                <span th:text="'Welcome to GRS'">Welcome to GRS</span>-->
<!--                            </marquee>-->
<!--                        </li>-->
<!--                        <li> Right </li>-->
<!--                        <li class="label circle border pull-right" th:if="${isMobileLogin}">-->
<!--                            <a id="selectedLanguageLink" href="javascript:;" data-close-others="true" aria-expanded="true">-->
<!--                                <span id="selectedLanguageName" class="langname"> বাংলা </span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
            <!-- Updated HTML code with marquee aligned to the right -->
            <div class="page-header-strip" style="height: 35px; display: flex; align-items: center;">
                <div class="container">
                    <ul style="list-style: none; margin: 0; padding: 0; display: flex; align-items: center; width: 100%;">
                        <!-- Email Link -->
                        <li class="english" style="display: flex; align-items: center;">
                            <i class="icon-envelope"></i>
                            <a href="mailto:grs@cabinet.gov.bd">grs@cabinet.gov.bd</a>
                        </li>

                        <!-- Spacer to push the marquee to the right -->
                        <li style="flex-grow: 1;"></li>

                        <!-- Marquee scrolling text aligned to the right -->
                        <li style="display: flex; align-items: center;">
                            <marquee style="width: 700px; color: #009444;" scrollamount="8">
                                <span th:text="'অভিযোগ প্রতিকার ব্যবস্থায় স্বাগতম। অভিযোগ প্রতিকার ব্যবস্থা সফটওয়্যারটির অধিকতর মানোন্নয়নের কাজ চলমান রয়েছে।'"></span>
                            </marquee>
                        </li>
                        <!-- Other list items -->
                        <li class="label circle border" th:if="${isMobileLogin}" style="margin-left: 10px;">
                            <a id="selectedLanguageLink" href="javascript:;" data-close-others="true" aria-expanded="true">
                                <span id="selectedLanguageName" class="langname"> বাংলা </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-header-top" th:if="${!isMobileLogin}">
                <div class="container left">
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <a href="/" class="home-button"></a>
                    <div class="page-logo">
                        <a href="/">
                            <img src="/assets/layouts/layout3/img/Header-logo2-original.png" alt="logo" class="logo-default">
                        </a>
                    </div>
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="top-menu-complaint" th:if="${isLoggedIn == false}">
                                <a class="btn btn-default" href="/login?a=5" data-toggle="tooltip" th:title="#{index.button.mygov.user.login.text}">
                                    <i class="fa fa-sign-in show-on-mobile">&nbsp;</i>
                                    <span class="hide-on-mobile" th:text="#{index.button.mygov.user.login.text}"></span>
                                </a>
                            </li>
                            <li class="top-menu-complaint" th:if="${isLoggedIn == false}">
                                <a class="btn btn-default" href="/login?a=0" data-toggle="tooltip" th:title="#{index.button.user.login.text}">
                                    <i class="fa fa-sign-in show-on-mobile">&nbsp;</i>
                                    <span class="hide-on-mobile" th:text="#{index.button.user.login.text}"></span>
                                </a>
                            </li>
                            <li class="top-menu-complaint" th:if="${isLoggedIn == false}">
                                <a class="btn btn-default" href="/login?a=1" data-toggle="tooltip" th:title="#{index.button.administrative.login.text}">
                                    <i class="icon-lock show-on-mobile">&nbsp;</i>
                                    <span class="hide-on-mobile" th:text="#{index.button.administrative.login.text}"></span>
                                </a>
                            </li>
                            <th:block th:if="${isLoggedIn == true}">
                                <li class="top-menu-complaint">
                                    <a class="btn btn-default " href="/login/success" data-toggle="tooltip" th:title="#{my.panel}">
                                        <i class="icon-user show-on-mobile">&nbsp;</i>
                                        <span class="hide-on-mobile" th:text="#{my.panel}"></span>
                                    </a>
                                </li>
                                <li class="top-menu-complaint" th:if="${(grsUser == true || superAdmin) && !isMyGovLogin}">
                                    <a class="btn btn-default " href="/logout" data-toggle="tooltip" th:title="#{logout}">
                                        <i class="icon-power show-on-mobile">&nbsp;</i>
                                        <span class="hide-on-mobile" th:text="#{logout}"></span>
                                    </a>
                                </li>
                                <li class="top-menu-complaint" th:if="${(isMyGovLogin)}">
                                    <a class="btn btn-default " href="/mygovlogout" data-toggle="tooltip" th:title="#{logout}">
                                        <i class="icon-power show-on-mobile">&nbsp;</i>
                                        <span class="hide-on-mobile" th:text="#{logout}"></span>
                                    </a>
                                </li>
                                <li class="top-menu-complaint" th:if="${grsUser == false && superAdmin == false}">
                                    <a class="btn btn-default " href="/ssologout" data-toggle="tooltip" th:title="#{logout}">
                                        <i class="icon-power show-on-mobile">&nbsp;</i>
                                        <span class="hide-on-mobile" th:text="#{logout}"></span>
                                    </a>
                                </li>
                            </th:block>
                            <li class="droddown dropdown-separator">
                                <span class="separator"></span>
                            </li>
                            <li class="dropdown dropdown-language">
                                <a id="selectedLanguageLink" href="javascript:;" data-close-others="true" aria-expanded="true">
                                    <span id="selectedLanguageName" class="langname"> বাংলা </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <div class="page-header-menu">
                <div class="container">
                    <!-- BEGIN MEGA MENU -->
                    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                    <div class="hor-menu hor-menu-light">
                        <ul class="nav navbar-nav">
                            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                <ul class="dropdown-menu pull-left" style=" background-color: seashell;">
                                    <li aria-haspopup="true" id="serviceMenu">
                                        <a href="/services.do" th:text="#{citizen.charter.view}"></a>
                                    </li>
                                    <li aria-haspopup="true" id="onikMenu">
                                        <a href="/groInformation.do" th:text="#{index.menu.onik.appeal.officer.info}"></a>
                                    </li>
                                    <li aria-haspopup="true" class="dropdown-submenu" id="complaintSubmissionMenu">
                                        <a href="javascript:;" class="nav-link nav-toggle" th:text="#{index.menu.complaint.submission.info}">
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu" style=" background-color: seashell;">
                                            <li th:if="${isOisfUser}" aria-haspopup="true">
                                                <a href="javascript:addStaffGrievanceButtonEventHandler()" class="nav-link " th:text="#{staff.complaint}"></a>
                                            </li>
                                            <li th:if="${!isOisfUser && !isLoggedIn}" aria-haspopup="true">
                                                <a href="javascript:addPublicGrievanceWithoutLoginButtonEventHandler()" class="nav-link " th:text="#{citizen.complaint}"></a>
                                            </li>
                                            <li th:if="${!isOisfUser && isLoggedIn && isOthersComplainant}" aria-haspopup="true">
                                                <a href="javascript:addPublicGrievanceForOthersButtonEventHandler()" class="nav-link " th:text="#{citizen.complaint}"></a>
                                            </li>
                                            <li th:if="${!isOisfUser && isLoggedIn && !isOthersComplainant}" aria-haspopup="true">
                                                <a href="javascript:addPublicGrievanceButtonEventHandler()" class="nav-link " th:text="#{citizen.complaint}"></a>
                                            </li>
                                            <li aria-haspopup="true">
                                                <a href="/anonymousAddGrievance.do" class="nav-link " th:text="#{anonymous.title}"></a>
                                            </li>
                                            <li aria-haspopup="true">
                                                <a href="javascript:showComplaintStatusModal()" class="nav-link " th:text="#{index.menu.grievance.status}"></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class=" ">
                                        <a href="/assets/previewGrsUserManual.pdf" onclick="javascript:previewGrsUserManual(this, event);" class="nav-link media-embed" th:text="#{index.manual.text}" data-asset="false"></a>
                                    </li>
                                    <li aria-haspopup="true" class=" ">
                                        <a href="/assets/flow_chart.pdf" class="nav-link media-embed" onclick="javascript:showFlowchartModal(this, event);" th:text="#{index.button.process.flows.text}" data-asset="false"></a>
                                    </li>
                                    <li aria-haspopup="true" class=" ">
                                        <a href="/assets/grs_guideline.pdf" class="nav-link media-embed" onclick="javascript:previewGrsGuideline(this, event);" th:text="#{index.button.complaint.resolution.manual.text}" data-asset="false"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- END MEGA MENU -->
                </div>
            </div>
        </div>
    </div>
</div>